body {
    text-align: center;
    margin: 0;
    background-color: #a9d7d1;
}

#header {
    overflow: hidden;
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 5em;
    max-height: 5em;
    background-color: #191927;
    width: 100%;
}

#header-logo {
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: auto;
}

#nav-bar {
    flex-basis: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
}

img {
    width: 5em;
    height: auto;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 150%;
}

a:hover {
    color: #cccccc;
    font-weight: bold;
}

#_form {
    margin-top: 7em;
}

#form {
    display: flex;
    width: 60%;
    margin: auto;
}

#email {
    flex-basis: 60%;
    height: 2em;
    border: 0.1em solid #cccccc;
    padding: 1em;
}

#submit, .choose {
    flex-basis: 40%;
    justify-content: left;
    border: none;
    background-color: #d10b54;
    color: #ffffff;
    font-size: 1.2em;
}

#video {
    margin: 1em;
}

#plan {
    margin-bottom: 5em;
    display: flex;
    justify-content: space-around;
}

._plan {
    background-color: #edd027;
    flex-basis: 30%;
    margin-bottom: 1em;
    padding: 1em;
}

#footer {
    position: fixed;
    bottom: 0;
    background-color: #191927;
    color: #ffffff;
    width: 100%;
}

@media (max-width: 1100px) {
    #header {
        flex-direction: column;
    }

    #plan {
        flex-direction: column;
        flex-wrap: wrap;
    }

    #nav-bar {
        flex-direction: column;
    }
}